*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #dedede;
    padding: 10px;
    text-align: center;
}
h2{
    text-transform: uppercase;
}

.currency{
    background: #dedede;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

input,
select{
    width: 250px;
    height: 30px;
    margin: 5px 0;
    border :1px solid lightblue;
    outline: none;
}
select{
    width: 100px;
}